body, html { cursor: url(../images/cursor4.png), auto } 

/* back,list로 가기*/
.backhome { float:left; } 
.backhome button { height:50px; background: none; } 
.backhome button a { display: block; width:70px; height:35px; padding:10px 0 0; margin:0 0 0 20px; color:#000; font-size:15px; background: url(../images/btn_arrow_left.png) no-repeat left 20px top 22px /15px 12px; box-sizing: border-box; } 
.p_list { display: block; z-index: 99999999999;;float:right; position: absolute; top:0; right:20px; width:120px; height:50px; padding:6px 50px 0 0; color:#000; font-size:15px; background: url(../images/ico_menu.png) no-repeat right 20px top 20px / 20px 20px; box-sizing: border-box; } 
.p_list:hover { border:1px solid #000; } 
.p_list.ani { background: url(../images/btn_close.png) no-repeat right 20px top 20px / 20px 20px; transition: .4s; } 
.list_img { display: none; position: absolute; top: 50px; left:0; width:100%; height:150px; background: #fff; z-index: 10; text-align: center; border-top:1px solid #000; border-bottom:2px solid #000; } 
.list_img a { display: inline-block; width:120px; height:100px; margin:0 0 0 50px; color:#000; font-weight: bold; opacity: 40%; transition: .2s } 
.list_img a img { width:100%; height:100%; transform: translateY(-15%); } 
.list_img a:hover { font-size: 15px; font-weight: bold; opacity: 100% } 
/* iframe */

.iframe { position: absolute; top:-20px; left:20%; z-index: 10;; text-align: center } 
.iframe button { display:inline-block; width:100px; height:50px; margin:10px 0 0; border:none; background: none; transition: .1s; } 
.iframe button:hover { font-weight: bold; border:1px solid #000 } 
.iframe button img { width:30px; height:20px; } 
.iframe button img.phone_img { width:17px; height:20px; } 
.swiper-slide iframe { width:1600px; height: 800px; border: 1px solid #000; transition: .4s } 
.group { position: absolute; top:-10px; left:60%; z-index: 10 } 
.group button { display:inline-block; width:70px; height:40px; margin: 10px 0 0; color:#888181; font-weight: bold; border:1px solid #da217e; border-radius: 5px; background:#fff; line-height: 40px; text-align: center; } 
.group button:hover { color:#fff; font-weight: bold; background:#da217e } 

.popup { display: none; } 
