body, html { background:#e3e3e3 } 
.about_frame { width:100% !important; height:100% !important; position:absolute; right:0;}
.menubackground { position: fixed; left: 0; width: 22%; height: 100%; background: #000; z-index: 1; } 
.menu { position: absolute; top: 50%; font-family: "GT Walsheim Pro Bold"; font-size: 20px; font-weight: bold; text-align: right; } 
.menu ul li { padding: 5px 0 0; } 
.menu a { color:#838383; font-size: 25px; font-weight: bold; } 
.menu a.active { padding: 0px 50px; color:#fff; transition: .3s } 


.index_right > span { display: block; width:100px; height:80px; animation: centxt 1.9s infinite; } 


.index_right { position: relative; width:100%; height:100%; background:#000; opacity: 1; } 
.index_right video { position: fixed; top:-8%; right:0%; width:100%; height:30%; overflow: hidden; background:#000; } 
.index_right .txt_1 { position: relative; width:300px; height:65px; overflow: hidden; } .index_right .txt_1 p { position: absolute; bottom:-100%; height:65px; color:#fff; font-size:50px; font-weight: bold; line-height: 60px; transition: 1.5s; } 
.box1.active .index_right .txt_1 p { position: absolute; bottom:0; width:100px; height:65px; } 
.about { position: relative; top:20px; width:66.66%; height:100vh; background:#000; z-index: 3 } 
.right .color { position: absolute; top:121px; left:177px; width:7px; height:1px; padding:0; transition: .2s; } 

/* 각 색깔 톤 */
.color.a1 { background: orange } 
.color.a2 { background: red } 
.color.a3 { background: green } 
.right .about > div > .color { position: absolute; top:20px; left:177px; width:7px; height:40px; padding:0; } 
.right .port > div > .color { position: absolute; top:20px; left:177px; width:7px; height:40px; padding:0; } 
.right .contact > div > .color { position: absolute; top:121px; left:177px; width:7px; height:40px; padding:0; } 

.line { position: absolute; top:22px; right:150px; width:40%; height:1px; border-bottom:3px solid #8a8a8a; transition: .4s; } 
.right .port > div > .line { top:20px; } 
.right .contact > div > .line { top:118px; } 

.tech .react_i { }
.tech { padding:0 0 0 5px;}

.number { position: absolute; top: 0; } 
.port .number { top:15px; } 
.number span { font-size:12px; } 

.cursor-follower { display: none; position: absolute; top:0; left:0; width:300px; height:200px; z-index: 999; opacity: 30%; } 
.cursor-follower2 { position: absolute; top:0; left:0; width:300px; height:200px; background: rgba(0,0,0,.5); z-index: 999; opacity: 5%; } 
.cursor-follower.anipri { display: block; background: url(https://user-images.githubusercontent.com/115339701/232436453-456baf03-132e-479b-921c-99bc6af62c3c.gif) no-repeat center; background-size: cover; } 
.cursor-follower.aniteam { display: block; background: url(https://user-images.githubusercontent.com/115339701/232431979-5ef5f117-f86c-48e3-91a8-77fc193ffab7.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani1 { display: block; background: url(https://user-images.githubusercontent.com/115339701/232716469-5c72c563-40a3-4b57-9441-0094a98924a6.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani2 { display: block; background: url(https://user-images.githubusercontent.com/115339701/232715591-17972b76-d21f-41b9-a831-c05044c2ffd3.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani3 { display: block; background: url(https://user-images.githubusercontent.com/115339701/232715853-d6e70ecb-5a3c-4f04-98b2-ec6b38244efe.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani4 { display: block; background: url(https://user-images.githubusercontent.com/115339701/281021455-fd9e9202-1273-4009-86fc-bfef436047e7.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani5 { display: block; background: url(https://user-images.githubusercontent.com/115339701/232716080-5656c32f-0b53-4114-aa66-fb67fadce4a4.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani6 { display: block; background: url(https://user-images.githubusercontent.com/115339701/281026135-f04ce64c-d530-4c20-9ae9-9ade7c85fe72.gif) no-repeat center; background-size: cover; } 
.cursor-follower.ani7 { display: block; background: url(../images/visualG.png) no-repeat center; background-size: cover; } 

.port { float:right; position: relative; top:10%; width:70%; z-index: 9999999999999999; } 
.port > div { width:100%; } 
.port > div > h2 { padding:0 0 0 200px; font-size:50px; } 
.port > div > div { padding:20px 0 0; } 
.port .prt_main { width: 70%; overflow: hidden; transform: translate(25%); } 
.port .prt_main li {position:relative; display: inline-block; float:left; box-sizing: border-box; transform: translateX(-100%); } 
.box3.active .port .prt_main li { transform: translateX(0); } 
.port .prt_main li .prt_span { color:red; position:absolute; top:0; font-size:13px;}
.port .prt_main li .prt_span.teamspan {top:30px; }
.port .prt_main li .prt_span span { display: inline-block;transform: translateY(3px);}
.prt_team.aniteamLi { padding: 30px 0 0;}
.prt_1.publishing { padding: 30px 0 0;}
.port .prt_main li a { display: inline-block; width:100%; /* max-width:800px; */ height:70px; color:#000; font-size:20px; font-weight: bold; background: #e3e3e3; line-height: 70px; text-align:left; border-bottom: 2px solid #8a8a8a; } 
.prt_main > li > a .screen { position: relative; width:750px; height:70px; overflow: hidden; line-height:70px; } 
.prt_main > li > a .screen .back { position: absolute; left:-100%; width:750px; height:70px; background: #000; opacity: 10%; } 
.prt_main > li > a .screen .top { position: absolute; left:-100%; transition: .2s } 
.prt_main > li > a .screen .righttxt { position: absolute; right:-100%; color:#8a8a8a; font-size:15px; transition: .2s; } 
.prt_main > li > a:hover .screen .back { position: absolute; left:0; width:750px; height:100px; } 
.prt_main > li > a:hover .screen .righttxt { position: absolute; right:100px; color:#000 } 
.prt_main > li > a:hover .screen .left { position: absolute; left:-100%; } 
.prt_main > li > a:hover .screen .top { position: absolute; left:15px; font-size:18px; } 
.port .prt_main li { display: block; } 
.port .prt_1 { transition: .5s; } 
.port .prt_2 { transition: .6s; } 
.port .prt_3 { transition: .7s; } 
.port .prt_4 { transition: .8s; } 
.port .prt_5 { transition: .9s; } 
.port .prt_6 { transition: 1s; } 
.port .prt_7 { transition: 1.1s; } 

.port .prt_1.ani,
.port .prt_2.ani,
.port .prt_3.ani,
.port .prt_4.ani,
.port .prt_5.ani,
.port .prt_6.ani,
.port .prt_7.ani { display: block; } 

.contact { float:right; position: relative; top:15%; width:70%; padding: 100px 0 0; } 
.contact > div { width:420px; padding: 0 0 0 200px; } 
.contact > div > h2 { font-size:50px } 
.contact > div > div { padding:20px 0 0; } 
.contact .address { position: relative; margin:30px 0 0 300px; } 
.contact .address img { display: block; width:30px; height:30px; margin:10px 0 0; box-sizing: border-box; } 
.contact .address .img1 { width:35px; height:35px; transform: translateX(-3px); } 
.contact .address p { position: absolute; top:35%; left:20%; padding:0 0 0 30px; color:#838383; font-size:15px } 
.contact .address span { position: absolute; top:75%; left:20%; width:200px; padding:0 0 0 30px; color:#838383; font-size:15px } 
