body, html{ position: relative; height: 100%; cursor: url(../images/cursor4.png), auto ;}

/* back,list로 가기*/
.backhome { float:left; }
.backhome button { background: none; height:50px;}
.backhome button a {display: block;  width:70px; height:35px; padding:10px 0 0; color:#000; font-size:15px; margin:0 0 0 20px; box-sizing: border-box; }
.backhome button a:hover { border:1px solid #000;}
.p_list { float:right; position: absolute; display: block; right:20px; top:0; width:120px; height:50px; background: url(../images/ico_menu2.png) no-repeat right 20px top 20px / 20px 20px; padding:5px 50px 0 0; color:#000; font-size:15px;  box-sizing: border-box; }
.p_list:hover { border:1px solid #000; }
.p_list.ani { background: url(../images/btn_close3.png) no-repeat right 20px top 20px / 20px 20px; transition: .4s;}
.list_img {display: none; position: absolute; left:0; top: 50px; width:100%; height:150px; background: #fff; z-index: 10;  text-align: center; border-top:1px solid #000; border-bottom:2px solid #000;}
.list_img a {  display: inline-block; width:120px; height:100px; opacity: 40%; transition: .2s; margin:0 0 0 50px; color:#000; font-weight: bold}
.list_img a img {  width:100%; height:100%; transform: translateY(-15%);}
.list_img a:hover { opacity: 100%; font-size: 15px; font-weight: bold}


/* iframe */

.iframe { position: absolute; left:20%; top:-20px;; text-align: center; z-index: 10; background: #fff;}
.iframe button { display:inline-block; width:100px; height:50px; border:none; transition: .1s; background: none; margin:10px 0 0;}
.iframe button:hover { border:1px solid #000; font-weight: bold}
.iframe button img { width:30px; height:20px;}
.iframe button img.phone_img { width:17px; height:20px;}
.swiper-slide iframe { width:1600px; height: 900px !important; border: 1px solid #000; transition: .4s}
.group { position: absolute; left:60%; top:-10px; z-index: 10}
.group button { display:inline-block; width:70px; height:40px; line-height: 40px; text-align: center; color:#888181; background:#fff; border-radius: 5px; border:1px solid #626262; font-weight: bold; margin: 10px 0 0;}
.group button:hover { background:#626262; color:#fff; font-weight: bold}

.popup { display: none;}
