@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 *//* font-family: 'Montserrat', sans-serif; */

body {
    color:#000;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.foodList {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.foodList.on {
    height: 15%;
    transition: all 0.5s;
}

.foodList li {
    flex: 1 1 30%;
    margin: 0 5px 10px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.foodList li:nth-child(3n) {
    margin-right: 10px;
}

.foodList li:nth-child(3n+1) {
    margin-left: 10px;
}

.foodList.on li{
    flex: 1;
    margin: 0 5px 10px 5px;
    margin-bottom: 0px;
}

.foodList.on li:first-child {
    margin-left: 10px;
}

.foodList.on li:last-child {
    margin-right: 10px;
}

.foodList li > div {
    transition: all 0.5s;
    padding: 20px 30px;
    cursor: pointer;
}

.foodList li:hover > div {
    transform: rotateY(180deg);
    color: skyblue;
}

.foodList li > div > img {
    height: 110px;
    width: 100px;
    padding-bottom: 15px;
}

.foodList li > div > p {
    font-size: 25px;
    /* font-family: 'Montserrat', sans-serif; */
}

.foodList li:hover > div > p {
    transform: rotateY(180deg);
}

.foodList.on li > div > img {
    height: 70px;
    width: 60px;
}

.foodList.on li > div > p {
    font-size: 13px;
}

