@charset "utf-8"; @media screen and (max-width:500px){
 .skills .skills-flex-container .box .title { margin-top: 15px; text-align: center; font-weight: bold; color: rgb(66, 161, 500); transition: all 0.3s ease-in-out; font-size:20px; } 
 } 